mixin footer
    footer.footer.border-main.border-t(class='mb-[6rem]')
        .flex(class='mt-[3.8125rem]')
            .grow
                h3.font-highlight.font-bold.text-lg.uppercase General
                ul.my-4
                    li.py-1
                        a.underline-offset-2(href='' class='hover:underline') Apps (Advanced UI)
                    li.py-1
                        a.underline-offset-2(href='' class='hover:underline') Website
            .grow
                h3.font-highlight.font-bold.text-lg.uppercase Technology
                ul.my-4
                    li.py-1
                        a.underline-offset-2(href='' class='hover:underline') Documentation
                    li.py-1
                        a.underline-offset-2(href='' class='hover:underline') Github
            .grow
                h3.font-highlight.font-bold.text-lg.uppercase Community
                ul.my-4
                    li.py-1
                        a.underline-offset-2(href='' class='hover:underline') Discord
                    li.py-1
                        a.underline-offset-2(href='' class='hover:underline') Telegram
                    li.py-1
                        a.underline-offset-2(href='' class='hover:underline') Twitter
            .grow
                h3.font-highlight.font-bold.text-lg.uppercase Stay up to Date
                .flex.mt-6
                    form(action='/', method='post')
                        input.text-black.px-2.mr-4(type='text' class='h-[2.75rem] rounded-[0.625rem]')
                        button.bg-main.rounded-full(class='w-[2.75rem] h-[2.75rem]' type='submit')
                            img.inline-block(src='images/enter.svg', class='w-[12px] ml-[4px]')

        p.my-4
            span &copy;
            span= ' ' + (new Date().getFullYear()) + ' '
            span Zeitgeist PM
