mixin header
    - var active = (name) => templateName === name ? 'active' : ''
    - var labelActive = (nameArr, name) => nameArr.includes(templateName) || templateName === name ? 'label-active' : ''
    - var childrenActive = (name) => templateName === name ? 'children-active' : ''
    - var extractTemplateName = (url) => {if (url === '/') return 'index'; return url ? url.replace('/', '').replace('.html', '') : ''};

    header.flex.items-center.relative.z-50.my-8.justify-between(class='xl:justify-start')
        div(class='w-[50px] h-[50px]')
            a(href='/')
                img(src='images/logo.svg')
        div.ml-10
            ul.hidden(class='xl:flex')
                li.px-4
                    a.px-4.underline-offset-2(href='#about' class='hover:underline') About
                li.px-4
                    a.px-4.underline-offset-2(href='#' class='hover:underline') Projects
                li.px-4
                    a.px-4.underline-offset-2(href='#grants' class='hover:underline') Grants
                li.px-4
                    a.px-4.underline-offset-2(href='#research' class='hover:underline') Research
            div.hamburger.rounded-full.bg-main.flex.items-center.justify-center(class='xl:hidden w-[3.25rem] h-[3.25rem]')
                img(src='images/hamburger.svg')

