.hamburger {
  &-menu {
    flex: 0 0 25px;
    font-size: 0;
    display: block;
    padding: 3px;

    &:before, &:after, &__meat {
      content: '';
      display: inline-block;
      width: 25px;
      height: 2px;
      background-color: #ffffff;
      border-radius: 2px;
      transition: 0.3s;
    }

    &__meat {
      margin: 6px 0;
    }
  }

  $self: &;

  &.open {
    #{$self}-menu__meat {
      opacity: 0;
    }

    #{$self}-menu:before {
      transform: rotate(40deg) translate(6px, 7px);
    }

    #{$self}-menu:after {
      transform: rotate(-40deg) translate(4px, -5px);
    }
  }
}
